In [5]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from datetime import datetime, date, timedelta
from tableauscraper import TableauScraper as TS
import altair as alt
import altair_latimes as lat

### Download the tableau dashboard

In [6]:
url = "https://public.tableau.com/views/CaliforniaUrbanWaterProduction_15785959527960/StatewideUseandProduction"

In [7]:
ts = TS()
ts.loads(url)
workbook = ts.getWorkbook()

In [8]:
conservation = workbook.goToSheet("Cumulative Savings ")
for t in conservation.worksheets:
    print(f"worksheet name : {t.name}")  # show worksheet name
    print(t.data)  # show dataframe for this worksheet

worksheet name : Savings by Hydro
         Region-value       Region-alias Strmonth-value Strmonth-alias  \
0               %all%              %all%     Cumulative     Cumulative
1         Tulare Lake        Tulare Lake     Cumulative     Cumulative
2      South Lahontan     South Lahontan     Cumulative     Cumulative
3         South Coast        South Coast     Cumulative     Cumulative
4   San Joaquin River  San Joaquin River     Cumulative     Cumulative
5   San Francisco Bay  San Francisco Bay     Cumulative     Cumulative
6    Sacramento River   Sacramento River     Cumulative     Cumulative
7      North Lahontan     North Lahontan     Cumulative     Cumulative
8         North Coast        North Coast     Cumulative     Cumulative
9      Colorado River     Colorado River     Cumulative     Cumulative
10      Central Coast      Central Coast     Cumulative     Cumulative
11              %all%              %all%            Apr          April
12        Tulare Lake        Tulare Lake            Apr          April
13     South Lahontan     South Lahontan            Apr          April
14        South Coast        South Coast            Apr          April
15  San Joaquin River  San Joaquin River            Apr          April
16  San Francisco Bay  San Francisco Bay            Apr          April
17   Sacramento River   Sacramento River            Apr          April
18     North Lahontan     North Lahontan            Apr          April
19        North Coast        North Coast            Apr          April
20     Colorado River     Colorado River            Apr          April
21      Central Coast      Central Coast            Apr          April
22              %all%              %all%            Mar          March
23        Tulare Lake        Tulare Lake            Mar          March
24     South Lahontan     South Lahontan            Mar          March
25        South Coast        South Coast            Mar          March
26  San Joaquin River  San Joaquin River            Mar          March
27  San Francisco Bay  San Francisco Bay            Mar          March
28   Sacramento River   Sacramento River            Mar          March
29     North Lahontan     North Lahontan            Mar          March
30        North Coast        North Coast            Mar          March
31     Colorado River     Colorado River            Mar          March
32      Central Coast      Central Coast            Mar          March
33              %all%              %all%            Feb       February
34        Tulare Lake        Tulare Lake            Feb       February
35     South Lahontan     South Lahontan            Feb       February
36        South Coast        South Coast            Feb       February
37  San Joaquin River  San Joaquin River            Feb       February
38  San Francisco Bay  San Francisco Bay            Feb       February
39   Sacramento River   Sacramento River            Feb       February
40     North Lahontan     North Lahontan            Feb       February
41        North Coast        North Coast            Feb       February
42     Colorado River     Colorado River            Feb       February
43      Central Coast      Central Coast            Feb       February

   SUM(Baseline)-alias SUM(count_supplier)-alias SUM(Current)-alias  \
0    1,355,058,116,940                       328  1,327,591,437,722
1      108,802,005,270                        27    107,602,527,664
2       32,754,725,236                        13     32,721,896,059
3      699,052,587,123                       141    700,089,575,336
4       73,964,623,228                        22     72,253,069,338
5      203,452,108,123                        37    186,441,878,307
6      138,120,953,104                        39    130,266,800,805
7        3,303,905,365                         4      3,037,442,426
8       11,991,899,594                        12     10,343,158,089
9       49,769,623,203                        10     51,540,364,319
10      33,845,686,693                        23     33,294,725,380
11     112,287,425,653                       362    132,008,219,277
12       8,631,076,620                        29     10,334,245,010
13       2,867,226,733                        16      3,573,903,168
14      56,230,594,859                       153     70,631,016,695
15       6,931,184,683                        26      7,559,406,400
16      17,997,974,516                        40     17,989,623,745
17      11,334,449,824                        41     11,579,495,639
18         246,256,129                         5        221,893,577
19       1,091,202,016                        13        938,709,250
20       4,035,752,998                        12      5,678,823,361
21       2,921,707,276                        27      3,501,102,433
22     112,285,215,721                       392    133,591,647,455
23       8,379,498,608                        31      8,974,770,745
24       2,598,100,356                        16      3,205,330,722
25      57,931,086,077                       170     73,594,404,812
26       6,200,856,942                        26      7,057,235,313
27      18,403,257,415                        45     18,869,659,070
28      10,691,708,409                        43     12,273,205,607
29         235,814,594                         5        237,376,917
30       1,025,596,111                        14        981,107,846
31       3,683,541,152                        13      4,630,885,632
32       3,135,756,056                        29      3,767,670,790
33     114,924,439,744                       395    114,968,953,314
34       7,552,726,879                        31      7,420,207,691
35       2,695,312,605                        15      2,413,989,444
36      64,495,861,939                       171     64,693,345,213
37       5,668,191,889                        29      5,839,250,184
38      16,918,170,851                        46     16,208,071,884
39       9,242,731,352                        43      9,854,818,017
40         198,861,106                         4        198,231,663
41         906,192,103                        14        852,605,633
42       4,090,453,753                        14      4,253,974,731
43       3,155,937,267                        28      3,234,458,855

   SUM(Total Population Served)-alias ATTR(Year)-alias  \
0                            33716958           %null%
1                             1897723           %null%
2                              705858           %null%
3                            18462325           %null%
4                             1522129           %null%
5                             6415447           %null%
6                             2576752           %null%
7                               80888           %null%
8                              389318           %null%
9                              614718           %null%
10                            1051800           %null%
11                           34986871             2022
12                            1936127             2022
13                             842767             2022
14                           19124299             2022
15                            1659209             2022
16                            6510359             2022
17                            2632376             2022
18                              88699             2022
19                             400348             2022
20                             673253             2022
21                            1119434             2022
22                           36434981             2022
23                            1979268             2022
24                             837117             2022
25                           20106199             2022
26                            1639208             2022
27                            6668801             2022
28                            2770645             2022
29                              91426             2022
30                             408395             2022
31                             712332             2022
32                            1221590             2022
33                           36541510             2022
34                            1976291             2022
35                             817356             2022
36                           20165451             2022
37                            1711829             2022
38                            6695849             2022
39                            2750572             2022
40                              83547             2022
41                             408171             2022
42                             731083             2022
43                            1201361             2022

   ATTR(Hydrologic Region)-alias AGG(Savings_calc)-alias
0                  %many-values%                -0.02027
1                    Tulare Lake               -0.011024
2                 South Lahontan               -0.001002
3                    South Coast                0.001483
4              San Joaquin River                -0.02314
5              San Francisco Bay               -0.083608
6               Sacramento River               -0.056864
7                 North Lahontan               -0.080651
8                    North Coast               -0.137488
9                 Colorado River                0.035579
10                 Central Coast               -0.016279
11                 %many-values%                0.175628
12                   Tulare Lake                 0.19733
13                South Lahontan                0.246467
14                   South Coast                0.256096
15             San Joaquin River                0.090637
16             San Francisco Bay               -0.000464
17              Sacramento River                 0.02162
18                North Lahontan               -0.098932
19                   North Coast               -0.139748
20                Colorado River                0.407129
21                 Central Coast                0.198307
22                 %many-values%                0.189753
23                   Tulare Lake                0.071039
24                South Lahontan                0.233721
25                   South Coast                0.270378
26             San Joaquin River                0.138106
27             San Francisco Bay                0.025343
28              Sacramento River                0.147918
29                North Lahontan                0.006625
30                   North Coast               -0.043378
31                Colorado River                0.257183
32                 Central Coast                0.201519
33                 %many-values%                0.000387
34                   Tulare Lake               -0.017546
35                South Lahontan               -0.104375
36                   South Coast                0.003062
37             San Joaquin River                0.030179
38             San Francisco Bay               -0.041973
39              Sacramento River                0.066224
40                North Lahontan               -0.003165
41                   North Coast               -0.059134
42                Colorado River                0.039976
43                 Central Coast                0.024881
worksheet name : Savings Map
    AVG(Latitude)-value AVG(Latitude)-alias AVG(Longitude)-value  \
0             34.033154              34.033          -117.055743
1                39.135              39.135             -121.625
2                 33.89              33.890             -117.777
3                38.676              38.676             -121.765
4                38.543              38.543             -122.804
..                  ...                 ...                  ...
350              33.838              33.838             -117.859
351              38.382              38.382             -120.794
352              34.084              34.084             -118.136
353              37.538              37.538             -122.021
354              34.582              34.582             -117.419

    AVG(Longitude)-alias            Supplier Name-alias  \
0               -117.056  Yucaipa Valley Water District
1               -121.625             Yuba City  City of
2               -117.777     Yorba Linda Water District
3               -121.765              Woodland  City of
4               -122.804               Windsor, Town of
..                   ...                            ...
350             -117.859               Anaheim  City of
351             -120.794            Amador Water Agency
352             -118.136              Alhambra  City of
353             -122.021  Alameda County Water District
354             -117.419               Adelanto City of

    SUM(2020 (copy))-alias SUM(2021 (copy))-alias  \
0                183930000              283300000
1                321110000              360440000
2             361404602.61        516151918.88227
3                227285824              228505991
4           81277121.43661          68168118.5284
..                     ...                    ...
350         1136569777.376         1520096906.955
351               72650000               77960000
352        213207847.20037        228431625.86981
353             1009100000             1031500000
354       102228174.927183          122692496.832

    SUM(Total Population Served)-alias ATTR(Year)-alias ATTR(Strmonth)-alias  \
0                                51801             2022                April
1                                71922             2022                April
2                                80540             2022                April
3                                60978             2022                April
4                                28397             2022                April
..                                 ...              ...                  ...
350                             369033             2022                April
351                              23509             2022                April
352                              85168             2022                April
353                             355877             2022                April
354                              31221             2022                April

    AGG(Savings_calc)-value AGG(Savings_calc)-alias
0                   0.54026                 0.54026
1                  0.122481                0.122481
2                  0.428183                0.428183
3                  0.005368                0.005368
4                 -0.161288               -0.161288
..                      ...                     ...
350                0.337443                0.337443
351                 0.07309                 0.07309
352                0.071403                0.071403
353                0.022198                0.022198
354                0.200183                0.200183

[355 rows x 12 columns]

Get the conservation figures for hydrologic regions and districts

In [23]:
conservation = workbook.goToSheet("Cumulative Savings ")
for t in conservation.worksheets:
    if t.name == "Savings by Hydro":
        
        filters = t.getFilters()
        #print(filters)
        filter_values = filters[0]['values']
        df_list = []
        for v in filter_values:
            wb = t.setFilter('Strmonth', v)
            monthlyWs = wb.getWorksheet("Savings by Hydro")
            #print(monthlyWs.data)
            monthly_df = monthlyWs.data
            #monthly_df["month"] = m
            df_list.append(monthly_df)
    # elif t.name == "Savings Map":
    #     district_df = t.data
    else:
        pass

2022-06-04 19:17:13,256 - tableauScraper - WARNING - no data dictionary present in response
2022-06-04 19:17:13,256 - tableauScraper - WARNING - no data dictionary present in response
2022-06-04 19:17:13,993 - tableauScraper - WARNING - no data dictionary present in response
2022-06-04 19:17:13,993 - tableauScraper - WARNING - no data dictionary present in response
2022-06-04 19:17:14,685 - tableauScraper - WARNING - no data dictionary present in response
2022-06-04 19:17:14,685 - tableauScraper - WARNING - no data dictionary present in response
2022-06-04 19:17:15,407 - tableauScraper - WARNING - no data dictionary present in response
2022-06-04 19:17:15,407 - tableauScraper - WARNING - no data dictionary present in response

In [24]:
len(df_list)

10

In [25]:
hydro_df = pd.concat(df_list)

---
### Clean up dataframe

In [26]:
hydro_df.columns

Index(['Region-value', 'Region-alias', 'Strmonth-value', 'Strmonth-alias',
       'SUM(Baseline)-alias', 'SUM(count_supplier)-alias',
       'SUM(Current)-alias', 'SUM(Total Population Served)-alias',
       'ATTR(Year)-alias', 'ATTR(Hydrologic Region)-alias',
       'AGG(Savings_calc)-alias'],
      dtype='object')

In [27]:
keeps = ['Region-value', 'Strmonth-alias',
       'SUM(Baseline)-alias', 'SUM(count_supplier)-alias',
       'SUM(Current)-alias', 'SUM(Total Population Served)-alias',
       'ATTR(Year)-alias', 'AGG(Savings_calc)-alias']

In [28]:
hydro_trim = hydro_df[keeps]

In [29]:
rename = {
    'Region-value': 'hydrologic_region', 
    'Strmonth-alias': 'month', 
    'SUM(Baseline)-alias': 'water_use_baseline',
    'SUM(count_supplier)-alias': 'supplier_count',
    'SUM(Current)-alias': 'water_use_current',
    'SUM(Total Population Served)-alias': 'total_population_served', 
    'ATTR(Year)-alias' :'year',
    'AGG(Savings_calc)-alias': 'pct_savings'  
}

In [30]:
hydro_rename = hydro_trim.rename(columns=rename)

In [31]:
hydro_rename['water_use_baseline'] = hydro_rename['water_use_baseline'].str.replace(",","").astype(int)

In [32]:
hydro_rename['water_use_current'] = hydro_rename['water_use_current'].str.replace(",","").astype(int)

In [33]:
hydro_rename.loc[(hydro_rename.hydrologic_region == "%all%"), "hydrologic_region"] = "Statewide"

In [34]:
hydro_rename.loc[(hydro_rename.year == "%null%"), "year"] = "Cumulative"

In [35]:
statewide_df = hydro_rename[hydro_rename.hydrologic_region == "Statewide"]

In [36]:
region_df = hydro_rename[hydro_rename.hydrologic_region != "Statewide"]

### Output

In [37]:
statewide_df.to_csv("../data/raw/statewide-conservation.csv", index=False)

In [38]:
region_df.to_csv("../data/raw/regional-conservation.csv", index=False)